@use '../1-helpers/variables' as v;
/*@use '../1-helpers/mixins' as *;*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100vh;
  width: 100vw;
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}

body {
  position: relative;
  margin: 0;
  height: 100vh;
  color: v.$clr-text;
  &:before {
    background: v.$clr-background no-repeat;
    content:"";
    height: 100vh;
    width: 100vw;
  }
}

footer {
  margin-top: auto;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  background-repeat: no-repeat;
}

.btn {
  &-primary {}
  &-secondary {}
}
