@use '../1-helpers/variables' as v;
@use '../1-helpers/mixins' as m;


.loader-wrapper {
  background: linear-gradient(75deg, rgba(20, 27, 43, 0.9), rgba(36, 51, 82, 1));
  width: 100%;
  height: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @include m.flex;
  z-index: v.$z-modal;
}

  .blur {
    filter: blur(9px);
}

#loader-logo {
  position: relative;
  vertical-align: top;
  display: inline-block;
  width: 35vw;
  background-color: transparent;
}

#loader-logo .loader-element:nth-child(1) {
  @include m.stroke-anim;
}

#loader-logo .loader-element:nth-child(2) {
  @include m.stroke-anim;
}

#loader-logo .loader-element:nth-child(3) {
  @include m.stroke-anim;
}

@keyframes line-anim {
  0%{
    stroke-dashoffset: 90;
  }
  45% {
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dashoffset: 0;
  }
  70% {
    stroke-dashoffset: 0;
  }
  100%{
    stroke-dashoffset: 90;
  }
}