@use '../1-helpers/variables' as v;
/*@use '../1-helpers/functions' as f;*/
/*@use '../1-helpers/mixins' as m;*/

@font-face {
  font-family: 'iconscout/unicons';
  src: url('https://unicons.iconscout.com/release/v4.0.0/fonts/line/unicons-1.woff2') format('embedded-opentype'), /* IE6-IE8 */
  url('https://unicons.iconscout.com/release/v4.0.0/fonts/line/unicons-1.woff2') format('woff2'), /* Super Modern Browsers */
  url('https://unicons.iconscout.com/release/v4.0.0/fonts/line/unicons-1.woff') format('woff'), /* Pretty Modern Browsers */
  url('https://unicons.iconscout.com/release/v4.0.0/fonts/line/unicons-1.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('https://unicons.iconscout.com/release/v4.0.0/fonts/line/unicons-1.svg') format('svg'); /* Legacy iOS */
}

body {
  font-size: calc((.175vw + 13px));
  font-family: v.$ft-medium;
}

a {
  color: v.$clr-primary;
  text-decoration: none;
  font-style: italic;
  font-weight: lighter;
  &.nav__link {
    color: v.$clr-text;
    font-weight: lighter;
    font-style: normal;
  }
}

// ******
// Text
// ******
h1, h2, h4, h5, h6 {
  color: v.$clr-text;
  font-weight: normal;
}

h1 {
  font-size: clamp(.9em, 1.5em + 10vw, 4.4em);
  line-height: 1.1;
  font-family: v.$ft-title;
  font-weight: normal;
}

h2 {
  font-size: clamp(.4em, .5em + 7vw, 1.8em);
  font-family: v.$ft-subtitle;
  font-weight: bolder;
}

h3 a {
  font-style: normal;
  color: v.$clr-text;
}

h3 {
  font-size: clamp(.8em, .9em + 7vw, 3.2em);
  line-height: 1.1;
  font-family: v.$ft-title;
  font-weight: normal;
}

h4,
figcaption{
  font-size: clamp(.35em, .5em + 5vw, 1.6em);
  font-family: v.$ft-subtitle;
  font-weight: bold;
  font-style: normal;
}

h6 {
    color: v.$clr-primary;
}

p,
li,
input,
.nav__link {
  font-size: clamp(0.7rem, calc(0.8798rem + 0.5115vw), 1.5rem);
  line-height: clamp(0.5rem, calc(1.5rem + 1vw), 3rem);
  font-weight: normal;
  display: block;
}

span {
  color: v.$clr-text;
}

.short {
  /*line-height: 2em;*/
  //TODO
}

code {
  font-family: monospace;
  color: v.$clr-bg;
  background-color: v.$clr-text;
  padding: .2rem .3rem;
  border-radius: 6px;
}

button {
  font-size: clamp(0.125rem, 1rem + 1vw, 1rem);
}

@media (max-width: var(--bp-wideS)) {
  .page .page-content .page-section h1 {
    max-width: 720px;
    font-size: calc(24px + 2.58vw);
    line-height: calc(24px + 2.58vw);
  }

  p, li, input, span {
    font-size: clamp(1.125rem, 1rem + 10vw, 3rem);
  }
}