@use '../1-helpers/variables' as v;
/*@use '../1-helpers/functions' as f;*/
/*@use '../1-helpers/mixins' as *;*/

body {
  font-size: calc((.175vw + 13px));
  font-family: v.$ft-medium;
}

a {
  color: v.$clr-primary;
  text-decoration: none;
  font-style: italic;
  font-weight: lighter;
}

// ******
// Text
// ******
h1, h2, h4, h5, h6 {
  color: v.$clr-text;
  font-weight: normal;
  font-family: v.$ft-title;
}

h1 {
  color: v.$clr-text;
  font-size: clamp(1rem, 1rem + 10vw, 4rem);
}

h2 {

}

h6 {
    color: v.$clr-primary;
}

p,
li,
input {
  font-size: clamp(0.7rem, calc(0.8798rem + 0.5115vw), 1.25rem);
  line-height: clamp(0.5rem, calc(1.5rem + 1vw), 3rem);
  font-weight: normal;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

span {
  color: v.$clr-text;
}

button {
  font-size: clamp(0.125rem, 1rem + 1vw, 1rem);
}

@media (max-width: var(--bp-wideS)) {
  .page .page-content .page-section h1 {
    max-width: 720px;
    font-size: calc(24px + 2.58vw);
    line-height: calc(24px + 2.58vw);
  }

  p, li, input, span {
    font-size: clamp(1.125rem, 1rem + 10vw, 3rem);
  }
}
