//transitions
//verläufe
//

/*
:root, p{
  font-family: Arial, serif !important;
  font-size: 50px !important;
  font-style: normal !important;
  --clr-primary: #fff;
  --clr-text: #fff;
  --clr-bg: #141B2B;
  --clr-background: #141B2B;

}

section {
  background-color: #141B2B !important;
}

span{
  font-size: 50px !important;
  font-style: normal !important;
}

a {
  color: #fff !important;
  font-family: Arial, serif !important;
  font-weight: normal !important;
  text-decoration: underline !important;
  text-decoration-color: blue !important;
}

button, footer, p, a, header, section, ul, ol, li{
  border-width: 3px !important;
  border-radius: 4px !important;
  border-color: red !important;
  outline: 1px solid red;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal !important;
  font-family: Arial, serif !important;
  font-size: 4em !important;
}

h1 {
  font-weight: bolder !important;
}

.scroll-to-top{
  display: none;
}

.dark-mode-toggle{
  display: none;
}
*/
