/*
@use '../1-helpers/variables' as v;
//transitions
//verläufe
//

//Cognitive


a, .link__contrast {
  color: var(--clr-primary) !important;
  font-family: Arial, serif !important;
  font-weight: normal !important;
  outline: 2px solid red;
}

footer, p, header, section, ul, ol, li{
  transition: none !important;
  border-width: 3px !important;
  border-radius: 4px !important;
  border-color: red !important;
  outline: 2px solid darkorange;
}

h1, h2, h3, h4 {
  outline: 2px solid blue;
}

button, [role="button"], [role="menu"], [role="checkbox"] {
  transition: none !important;
  border-width: 3px !important;
  border-radius: 4px !important;
  outline: 2px solid aqua;
}

[type="checkbox"] {
	 outline: 2px solid aqua;
	 margin: 4px;
}
 [type="checkbox"]:checked + .toggle {
	 outline: 2px solid greenyellow;
}
 [type="checkbox"] + .toggle {
	 outline: 2px solid aqua;
}

 [type="checkbox"]:checked + .toggle span path {
	 stroke: var(--clr-bg);
	 stroke-dasharray: 25;
	 stroke-dashoffset: 25;
}







//vision profile
a, .link__contrast {
  font-size: 40px;
}

span{
  font-size: 40px !important;
  font-style: normal !important;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal !important;
  font-family: Arial, serif !important;
  font-size: 4em !important;
}

h1 {
  font-weight: bolder !important;
}

.accessibility__settings{
  display: flex;
  flex-direction: column;
}

.nav__bottom {
  height: 7vh;
}

.scrollbar__mini::-webkit-scrollbar {
    width: 10px;
}




//both
:root, p{
  font-family: Arial, serif !important;
  font-size: 40px !important;
  font-style: normal !important;
  --clr-primary: #fff;
  --clr-text: #fff;
  --clr-bg: #141B2B;
  --clr-background: #141B2B;
}

*:focus {
  outline: 5px solid deeppink !important;
}

header {
  position:sticky;
  background-color: var(--clr-bg) !important;
}

section {
  background-color: #141B2B !important;
}




.btn {
  &:hover {
    background-color: var(--clr-bg);
  }
}
.glow-on-hover, .glow-on-hover::before, .glow-on-hover:active,
.glow-on-hover::after {
  transition: none !important;
  background: transparent;
  &:hover{
  }
}

.scroll-down {
  display: none;
}

.scroll-to-top{
  display: none;
}

.dark-mode-toggle{
  display: none;
}






//ADHD
#mask-top,
#mask-bottom {
  position: fixed;
  background: rgba(0, 0, 0, .55);
  width: 100%;
  pointer-events: none;
  z-index: 100000;
}
#mask-top {
  top: 0;
  bottom: auto;
}
#mask-bottom {
  top: auto;
  bottom: 0;
}
*/
