@use '../1-helpers/variables' as v;
@use '../1-helpers/mixins' as m;

html {
  transition-property: background-color, color;
}

body {
  &>*{
    transition: 500ms;
  }

  &:before {
    position: fixed;
    z-index: -1;
  }
}

#bg-coa{
  opacity: 0.15;
  position: fixed;
  right: 0;
  margin: 10vh;
  @include m.fullImage();
  max-height: 10vh;
  mix-blend-mode: multiply;
}

#main-grid {
  padding: 5em;
  margin: 0 2em;
  max-width: 60rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  max-width: v.$bp-tablet;
  margin-left: v.$mb-15;
  margin-right: v.$mb-15;
}

.grid {
  display: grid;
  gap: v.$mb-15;
}

@media (min-width: 40em) {
  .split {
    display: flex;
    gap: 2em;
  }
}
section.subtitle {
  display: block;
  font-size: small;
}

section#slider{
  padding: 55vh v.$pdd-side 15vh v.$pdd-side;
  min-height: 100vh;
}

section.page-section {
    padding: v.$pdd-side;
    min-height: 70vh;
}

section:nth-of-type(2) {
  background: v.$clr-primary;
}
