@use '../1-helpers/variables' as v;
@use '../1-helpers/mixins' as m;

html {
  max-height: 100%;
  position: relative;
  transition-property: background-color, color;
}

body {
  //TODO
  /*margin: 10vw;*/
  &:before {
    position: fixed;
    z-index: -1;
  }
}

#content-wrapper {
  will-change: filter;
  transition: filter .3s ease-in-out;
}

#bg-coa {
  opacity: 0.15;
  position: fixed;
  right: 0;
  margin: 10vh;
  @include m.fullImage();
  max-height: 10vh;
  mix-blend-mode: multiply;
}

#main-grid {
  max-height: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  max-width: v.$bpTablet;
  margin-left: v.$mb-15;
  margin-right: v.$mb-15;
}

.page-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.page-section__text > p {
  padding: 1rem 0;
}

.grid {
  display: grid;
  gap: v.$mb-15;
}

.info-illustration {
  /*margin-top: 2vh;*/
  min-width: 100%;
  max-height: 30vh;
  margin: 5vh 0;
}

@media screen and (min-width: v.$bpLaptop),
screen and (max-height: v.$bpLandscape) and (min-width: v.$bpMobile) {
  .page-section {
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 100;

    &:nth-of-type(even) {
      flex-direction: row-reverse;
    }
  }

  .page-section__text {
    max-width: 100%;
  }

  .info-illustration {
    min-width: 40%;
    margin-right: 4vw;
    max-height: 50vh;
  }
}

@media (min-width: 40em) {
  .split {
    display: flex;
    gap: 2em;
  }
}

section {
  display: flex;
  align-items: center;
}

.section-title {
  padding-bottom: 2.5rem;
  text-align: center;
}

@media screen and (min-width: v.$bpLaptop) {
  .section-title {
    text-align: left;
  }
}

section.subtitle {
  display: block;
  font-size: small;
}

section.page-section {
  padding: 15vh v.$pdd-side;
  min-height: 90vh;
  max-height: 100%;
}

section.page-section.contrast-section {
  background: v.$clr-container;
  color: white;
  box-shadow: 0 7px 9px rgba(0 0 0 /.4), 0 -7px 9px rgba(0 0 0 /.4);
}

@media screen and (min-width: 2400px) {
  section.page-section.contrast-section {
    border-radius: v.$radius;
    margin: 0 2rem;
  }
}

section.page-section:last-of-type {
  background: transparent;
  box-shadow: none;
}

/* ==== HOME SECTION==== */
section.slider {
  box-shadow: inset 0 -7px 0 v.$clr-primary, 0 -7px 9px rgba(0 0 0 /.4);
  min-height: 95vh;
  background: var(--clr-slider) no-repeat 0 0;
}

#home {
  position: relative;
  overflow: hidden;
  /*&:before {
    //can't color
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: .1;
    z-index: -1;
    //noinspection CssUnknownTarget
    background-image: linear-gradient(245deg, v.$clr-third 0%, v.$clr-bg 80%), url(data-url:../media/Background-fluid-lines.svg);
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
  }*/
}

#background-lines__wrapper {
  width: fit-content;
  height: fit-content;
  display: block;
  position: absolute;
  z-index: -1;
  min-height: 100vh;
  min-width: 100vw;
  top: 0;
}

#background-anim {
  overflow: hidden;
  bottom: 0;
  min-width: 100vw;
  min-height: 100vh;
  object-fit: cover;
  object-position: top;
  opacity: .3;
  transform: scale(1);
  @include m.smoothTransition(1s);
}

/*@media screen and (min-width: 2400px) {
  #background-anim{
    max-height: unset;
  }
}*/

.home__container {
  margin: 0 v.$pdd-side;
  gap: 1rem;
}

.home__content {
  grid-template-columns: .7fr 3fr;
  padding-top: 5vh;
  padding-bottom: v.$pdd-tb;
  align-items: center;
}

@media screen and (min-width: v.$bpTablet),
screen and (max-height: v.$bpLandscape) and (min-width: v.$bpMobile) {
  #home {
    min-height: clamp(720px, 100vh, 2000px);
  }
  .home__content {
    grid-template-columns: .7fr 3fr;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-right: v.$pdd-side;
  }
}

.home__socials {
  display: grid;
  grid-template-columns: max-content;
  row-gap: 1rem;
}

.home__social-icon {
  font-size: 1.5em;
  color: v.$clr-primary;

  &:hover {
    color: v.$clr-text;
    transform: scale(1.2);
  }
}

.home__image {
  width: clamp(50px, 50px + 25vw, 285px);
  fill: v.$clr-primary;
  filter: drop-shadow(0 0 19px v.$clr-primary);
  -webkit-filter: drop-shadow(0 0 19px v.$clr-primary);
}

.home__data {
  grid-column: 1/3;
}

.scroll-down {
  margin-top: 2rem;
  display: inline-block;
}

@media screen and (min-width: v.$bpDesktop) {
  .home__content {
    grid-template-columns: .1fr 1.5fr 1fr;
    gap: 2rem;
  }

  .home__data {
    grid-column: unset;

    .title {
      margin-bottom: 1rem;
    }
  }

  .home__image {
    width: clamp(50px, 50px + 25vw, 550px);
    order: 1;
    justify-self: center;
  }
  .home__socials {
    row-gap: 2rem;
  }

  .fade-in.appear {
    opacity: 1;
    transform: translate(0, 0) scale(1);
  }
}

/* ==== PORTFOLIO SECTION ==== */
#portfolio {
  min-height: 100vh;
  justify-content: unset;
  flex-direction: column;
  align-items: center;

  h3#portfolio-site {
    font-family: Rozha One, serif;;
  }
}

@media screen and (min-width: v.$bpLaptop) {
  #portfolio {
    align-items: flex-start;
  }
}

.portfolio__button-more {
  display: none;
  align-content: center;
  @media screen and (min-width: v.$bpLaptop) {
    display: inline;
  }
  padding: 0;
  margin: 10px 10px 20px 10px;
  align-items: center;
}


@media screen and (min-width: 2400px) {
  #portfolio {
    margin-top: 4rem;
  }
}

.portfolio-wrapper {
  background: v.$clr-scene;
  min-height: 60vh;
  width: 100%;
  border-radius: v.$radius;

  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.05;
    z-index: -1;
    //noinspection CssUnknownTarget
    background-image: url(data-url:../media/images/Background-fluid-lines.svg), linear-gradient(v.$clr-scene, v.$clr-scene);
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
  }

  .wrapper-background {
    position: absolute;
    z-index: -1;
    opacity: .05;
    min-width: 100%;
    min-height: 100%;
  }

  .portfolio-wrapper__header {
    height: 2rem;
    background: v.$clr-background;
    margin: .3rem;
    border-top-left-radius: v.$radius * .7;
    border-top-right-radius: v.$radius * .7;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
  }

  .portfolio-wrapper__dots {
    height: .8rem;
    width: .8rem;
    background: v.$clr-primary;
    border-radius: 50%;
    margin: 0 .4rem;

    &:nth-of-type(3) {
      background: v.$clr-primary-contrast;
      margin-right: .7rem;
    }
  }

  .portfolio-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;

    & > * {
      padding: 1rem;
    }
  }
}

/* ================ ABOUT SECTION ================ */
#about {
  position: relative;
}

.about__button {
  margin-top: 4rem;
}

.about__experiences {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
  margin: 2rem 0;

  & > * {
    flex-basis: max-content;
  }
}

@media screen and (min-width: v.$bpMobile) {
  .about__experiences {
    flex-flow: row wrap;
  }
}

.about__experience {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  margin: 1vw;
  background-color: v.$clr-bg;
  border-radius: v.$radius;
  transition: (all .3s ease-in-out);
  width: 100%;

  &:hover {
    transform: scale(1.1);
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  }

  line-height: 1.5rem;
}

.about__experience-years {
  font-weight: bold;
  font-size: 1.5em;
  padding-bottom: .8rem;
}


/* ================ SKILLS SECTION ================ */
section#skills {
  position: relative;
  flex-direction: row;
  //noinspection CssUnknownTarget
  background: url(data-url:../media/images/circlesBG.svg) no-repeat 90% 50%, var(--clr-container) no-repeat;
  background-size: 40%, cover;
}

.skills__container {
  margin: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  width: fit-content;
  z-index: 0;
  background: v.$clr-scene;
  border-radius: v.$radius;
}

.skills__icon {
  display: none;
  font-size: 3em;
}

.skills__group {
  position: relative;
  display: flex;
  @include m.transition(all);
  font-size: xx-large;
  input + label {
    cursor: pointer;
    width: 100%;
    padding: 1.5rem 6rem 1.5rem 3rem;
    @include m.transition(all);
    //noinspection CssUnknownTarget
    background: var(--clr-slider), url(data-url:../media/icons/Img-broken-icon.svg)  no-repeat, linear-gradient(v.$clr-scene, v.$clr-scene);
    background-size: cover, 5rem, cover;
    background-position: 0 0, 105% -50% , 0 0;
  }

  &:first-child label{
    border-radius: v.$radius v.$radius 0 0;
  }

  &:last-child label{
    border-radius: 0 0 v.$radius v.$radius;
  }

  /*&:after {
    content: "";
    background: transparent;
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    //border-radius: v.$radius;
  }*/
  input + label[data-title="language"] {
    //noinspection CssUnknownTarget
    background: var(--clr-slider), url(data-url:../media/icons/language.svg) no-repeat, linear-gradient(v.$clr-scene, v.$clr-scene);
    background-size: cover, 5rem, cover;
    background-position: 0 0, 105% -50%, 0 0;
  }

  input + label[data-title="software"] {
    //noinspection CssUnknownTarget
    background: var(--clr-slider), url(data-url:../media/icons/software.svg) no-repeat, linear-gradient(v.$clr-scene, v.$clr-scene);
    background-size: cover, 5rem, cover;
    background-position: 0 0, 105% -50%, 0 0;
  }

  input + label[data-title="frontend"] {
    //noinspection CssUnknownTarget
    background: var(--clr-slider), url(data-url:../media/icons/frontend.svg) no-repeat, linear-gradient(v.$clr-scene, v.$clr-scene);
    background-size: cover, 5rem, cover;
    background-position: 0 0, 105% -50%, 0 0;
  }

  input + label[data-title="backend"] {
    //noinspection CssUnknownTarget
    background: var(--clr-slider), url(data-url:../media/icons/backend.svg) no-repeat, linear-gradient(v.$clr-scene, v.$clr-scene);
    background-size: cover, 5rem, cover;
    background-position: 0 0, 105% -50%, 0 0;
  }

  &:hover label {
    color: v.$clr-primary;
    padding: 2rem 6rem 2rem 3rem;
  }
  & input[type=radio]:checked + label{
    padding: 3rem 6rem 3rem 3rem;
    background-size: cover, 3.5rem, cover;
    background-position: 0 0, 90% 50%, 0 0;
  }
}

.skills__aside {
  a.btn {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0 var(--pdd-side) 15vh 0;
  }
}

.card {
  margin: 5rem 2rem 2rem 4rem;
  display: flex;
  justify-content: center;
}

ul.cloud {
  position: relative;
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: center;
  justify-content: center;
  line-height: 2.75rem;
  width: 450px;
  gap: 3rem;
  transform-style: preserve-3d;
  perspective: 50em;
  @include m.transition(all);
  box-sizing: content-box;
}

ul.cloud li {
  /*
  Not supported by any browser at the moment
  --size: attr(data-weight number);
  */
  @include m.transition(all);
  --size: 4;
  color: v.$clr-text;
  cursor: cell;
  align-items: center;
  justify-content: center;
  //flex: 1 1 calc(2% * var(--size));
  font-weight: clamp(200, calc(100 + 100 * var(--size) / 2), 900);
  font-size: calc(var(--size) * 0.15rem + 0.6rem);
  display: flex;
  padding: calc(0.2rem * var(--size) / 2) 0.25rem;
  position: relative;
  text-decoration: none;
  opacity: calc((15 - (9 - var(--size))) / 15);
  //overflow: hidden;
  @include m.transition(all);
  transform: translateZ(calc(10 * var(--size)));

  &:hover text {
    font-size: small;
  }

  &:hover {
    transform: scale(1.3) translateY(-5%);
    color: v.$clr-text;
    //font-weight: bold;
    z-index: 10;
    opacity: 1;
    padding-top: 1rem;
  }

  &:first-of-type {
    flex: 1 1 100%;
  }

  &:last-of-type {
    flex: 1 1 100%;
  }
}

/*ul.cloud:hover > li:not(ul.cloud li:hover) {
    filter: blur(2px);
}*/

ul.cloud li[data-weight="1"] {
  --size: 1;
}

ul.cloud li[data-weight="2"] {
  --size: 2;
}

ul.cloud li[data-weight="3"] {
  --size: 3;
}

ul.cloud li[data-weight="4"] {
  --size: 4;
}

ul.cloud li[data-weight="5"] {
  --size: 6;
}

ul.cloud li[data-weight="6"] {
  --size: 8;
}

ul.cloud li[data-weight="7"] {
  --size: 10;
}

ul.cloud li[data-weight="8"] {
  --size: 13;
}

ul.cloud li[data-weight="9"] {
  --size: 16;
}

ul[data-show-value] li::after {
  content: " (" attr(data-weight) ")";
  font-size: 1rem;
}


ul.cloud li:focus {
  outline: 1px dashed;
}

ul.cloud li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 100%;
  background: var(--clr-bg);
  transform: translate(-50%, 0);
  opacity: 0.15;
  transition: width 0.25s;
}

//tooltip hints
.item-hints {
  cursor: help;
  position: absolute;
  z-index: 13;
  top: -35%;
}

.item-hints .hint {
  width: 60px;
  height: 60px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-hints .hint::before {
  //rotated square
  background-color: v.$clr-text;
  width: .3rem;
  height: .3rem;
  z-index: 2;
  -webkit-clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
  clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
  content: "";
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: .8;
}

.item-hints .hint::after {
  // glow
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 2px;
  height: 2px;
  z-index: 1;
  -webkit-animation: home_hero_item_hints_glow 2s cubic-bezier(0.25, 0.1, 0.2, 1) infinite;
  animation: home_hero_item_hints_glow 2s cubic-bezier(0.25, 0.1, 0.2, 1) infinite;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

@-webkit-keyframes home_hero_item_hints_glow {
  0% {
    -webkit-box-shadow: 0 0 30px 5px v.$clr-primary-contrast;
    box-shadow: 0 0 30px 5px v.$clr-primary-contrast;
  }
  70% {
    -webkit-box-shadow: 0 0 70px 50px rgba(72, 170, 72, 0);
    box-shadow: 0 0 70px 50px rgba(72, 170, 72, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 50px rgba(72, 170, 72, 0);
    box-shadow: 0 0 0 50px rgba(72, 170, 72, 0);
  }
}

@keyframes home_hero_item_hints_glow {
  0% {
    -webkit-box-shadow: 0 0 30px 5px v.$clr-primary-contrast;
    box-shadow: 0 0 30px 5px v.$clr-primary-contrast;
  }
  70% {
    -webkit-box-shadow: 0 0 70px 50px rgba(72, 170, 72, 0);
    box-shadow: 0 0 70px 50px rgba(72, 170, 72, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 50px rgba(72, 170, 72, 0);
    box-shadow: 0 0 0 50px rgba(72, 170, 72, 0);
  }
}

.item-hints .hint-dot {
  z-index: 3;
  border: 1px solid #fff;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  display: block;
  -webkit-transform: translate(-0%, -0%) scale(0.95);
  transform: translate(-0%, -0%) scale(0.95);
  -webkit-animation: home_hero_item_hints_border 2s linear infinite;
  animation: home_hero_item_hints_border 2s linear infinite;
  margin: auto;
  opacity: .5;
}

@-webkit-keyframes home_hero_item_hints_border {
  0%,
  100% {
    border-color: rgba(255, 255, 255, 0.6);
    -webkit-transform: translate(-50%, -50%) scale(0.95);
    transform: translate(-0%, -0%) scale(0.95);
  }
  50% {
    border-color: rgba(255, 255, 255, 0.3);
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-0%, -0%) scale(1);
  }
}

@keyframes home_hero_item_hints_border {
  0%,
  100% {
    border-color: rgba(255, 255, 255, 0.6);
    -webkit-transform: translate(-50%, -50%) scale(0.95);
    transform: translate(-0%, -0%) scale(0.95);
  }
  50% {
    border-color: rgba(255, 255, 255, 0.3);
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-0%, -0%) scale(1);
  }
}

.item-hints .hint-radius {
  //circle
  --h-radius-size: 10vw;
  //background: rgba(255,255,255,.4);
  z-index: -1;
  background: radial-gradient(circle, rgba(0, 9, 45, 0.2) 0%, rgba(0, 21, 126, 0) 50%);
  border-radius: 50%;
  width: var(--h-radius-size);
  height: var(--h-radius-size);
  position: absolute;
  top: 50%;
  left: 50%;
  margin: calc(-1 * var(--h-radius-size) / 2) 0 0 calc(-1 * var(--h-radius-size) / 2);
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: background-color, opacity, visibility,
  -webkit-transform;
  transition-property: background-color, opacity, visibility, transform, -webkit-transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease, ease, ease,
  cubic-bezier(0.5, 0, 0, 1);
  transition-timing-function: ease, ease, ease, cubic-bezier(0.5, 0, 0, 1);
}

.item-hints .hint:hover .hint-radius,
.item-hints .hint:focus .hint-radius,
ul.cloud li:hover .hint-radius {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.item-hints .hint[data-position="1"] .hint-content {
  top: 85px;
  left: 50%;
  margin-left: 56px;
}

.item-hints .hint-content {
  color: v.$clr-text;
  width: 300px;
  position: absolute;
  z-index: 15;
  padding: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.7s ease, visibility 0.7s ease;
  transition: opacity 0.7s ease, visibility 0.7s ease;
  pointer-events: none;

  h5 {
    font-weight: bold;
    font-size: large;
    margin: 0;
    margin-block-end: -.5em;
  }

  p {
    font-size: medium;
  }
}

.item-hints .hint:hover .hint-content,
.item-hints .hint:focus .hint-content,
ul.cloud li:hover .hint-content {
  color: v.$clr-text;
  width: 300px;
  position: absolute;
  z-index: 10;
  padding: 0;
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.7s ease, visibility 0.7s ease;
  transition: opacity 0.7s ease, visibility 0.7s ease;
  pointer-events: none;
}

.item-hints .hint-content::before {
  width: 0;
  bottom: 0;
  left: 0;
  content: "";
  background-color: #fff;
  height: 1px;
  position: absolute;
  transition: width 0.4s;
}

.item-hints .hint:hover .hint-content::before,
.item-hints .hint:focus .hint-content::before,
ul.cloud li:hover .hint-content::before {
  width: 180px;
  transition: width 0.4s;
}

.item-hints .hint-content::after {
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transform: rotate(-225deg);
  transform: rotate(-225deg);
  bottom: 0;
  left: 0;
  width: 80px;
  content: "";
  background-color: #fff;
  height: 1px;
  position: absolute;
  opacity: 1;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.item-hints .hint:hover .hint-content::after,
.item-hints .hint:focus .hint-content::after,
ul.cloud li:hover .hint-content::after {
  opacity: 1;
  visibility: visible;
}

.item-hints .hint[data-position="4"] .hint-content {
  bottom: 85px;
  left: 50%;
  margin-left: 56px;
}

//-------------------------------------------
/*!* fonts *!

div.jqcloud {
  font-size: 10px;
  line-height: normal;
}

div.jqcloud a {
  font-size: inherit;
  text-decoration: none;
}

div.jqcloud span.w10 { font-size: 550%; }
div.jqcloud span.w9 { font-size: 500%; }
div.jqcloud span.w8 { font-size: 450%; }
div.jqcloud span.w7 { font-size: 400%; }
div.jqcloud span.w6 { font-size: 350%; }
div.jqcloud span.w5 { font-size: 300%; }
div.jqcloud span.w4 { font-size: 250%; }
div.jqcloud span.w3 { font-size: 200%; }
div.jqcloud span.w2 { font-size: 150%; }
div.jqcloud span.w1 { font-size: 100%; }

!* colors *!

div.jqcloud span { color: var(--clr-scene); }



!* layout *!

div.jqcloud {
  overflow: hidden;
  position: relative;
  margin: 20px auto;
}

div.jqcloud span {
  cursor: cell;
  padding: 0;
  !*@include m.transition(all);
  &:hover {
    transform: scale(1.1);
  }*!
}*/

/* ================ LOGO CAROUSEL SECTION ================ */
section#customers {
  --logo-cards: 6;
  --logo-margin: 15vw;
  --logo-width: 155px;
  min-height: unset;
  justify-content: center;
  margin-bottom: 15vh;
  padding: 0;
}

@media screen and (min-width: v.$bpTablet),
screen and (max-height: v.$bpLandscape) and (min-width: v.$bpMobile) {
  section#customers {
    --logo-cards: 6;
    --logo-margin: 15vw;
    --logo-width: 240px;
  }
}

@media screen and (min-width: v.$bpWideS) {
  section#customers {
    --logo-margin: 5vw;
    --logo-width: 320px;
  }
}


@mixin gradient {
  background: linear-gradient(to right, v.$clr-scene 1%, rgba(255, 255, 255, 0) 100%);
}

$animationSpeed: 40s;

// Animation
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-1 * (var(--logo-width) + (var(--logo-margin) * 2) - 0px) * (var(--logo-cards))))
  }
  //(card lengths + margins) * amount o. cards
}


// Styling
.customer-slider {
  background: v.$clr-scene;
  height: clamp(60px, 13vh, 10rem);
  overflow: hidden;
  position: relative;
  width: 100vw;
  @include m.transition(all);

  &:hover .slide-track {
    animation-play-state: paused;
  }

  .slider-shadow {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 4px 9px rgba(0 0 0 /.6);
    pointer-events: none;
  }

  &::before,
  &::after {
    @include gradient;
    content: "";
    height: 100%;
    position: absolute;
    width: 20%;
    z-index: 2;
    pointer-events: none;
  }

  &::after {
    right: 0;
    top: 0;
    transform: rotate(180deg);
  }

  &::before {
    left: 0;
    top: 0;
  }

  .slide-track {
    animation: scroll $animationSpeed linear infinite;
    display: flex;
    width: calc(var(--logo-width) * var(--logo-cards) * 3);
    //justify-content: space-evenly;
    align-content: center;
    height: 100%;
  }

  .customer-logo {
    & a {
      display: flex;
      justify-content: center;

      img {
        transform: scale(var(--scale, 1));
        height: 100%;
      }
    }

    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-width: var(--logo-width);
    min-width: var(--logo-width);
    margin: 0 var(--logo-margin);

    & > * {
      height: 65%;
      max-width: var(--logo-width);
      min-width: var(--logo-width);
    }
  }
}

@media screen and (min-width: 2400px) {
  section#customers {
    min-height: unset;
    justify-content: center;
    margin-top: 20vh;
    margin-bottom: 15vh;
    padding: 0;
  }

  .customer-slider {
    width: clamp(300px, 90vw, 110rem);
    border-radius: v.$radius;
  }
}


/* ================ BG LINES ================ */
.background-lines {
  display: none;
}

@media screen and (min-width: v.$bpTablet),
screen and (max-height: 500px) and (min-width: v.$bpMobile) {
  .background-lines {
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -50px;
    pointer-events: none;
    top: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    z-index: -1;

    svg {
      max-width: unset;
      fill: none;
    }

    .background-lines__stroke {
      position: relative;
      z-index: 2;

      path {
        stroke-width: .2vw;
        stroke-opacity: .4;
        stroke: v.$clr-primary;
        transition: all 1s;
      }
    }

    .background-lines__dash {
      left: 0;
      position: absolute;
      top: 0;
      z-index: 1;

      path {
        stroke-dasharray: 6;
        stroke-opacity: .15;
        stroke: v.$clr-secondary;
      }
    }
  }

  #bg__line01 {
    left: 20%;
    margin-left: -36px;
    top: 50%;
  }

  #bg__line02 {
    margin-left: -400px;
    top: -180px;
    -webkit-transform: translateX(-70%);
    transform: translateX(-70%);
  }

  #bg__line04 {
    margin-top: 0;
    left: 80%;
    top: 75%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  #bg__line05 {
    margin-left: 0;
    top: 80%;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@media screen and (min-width: v.$bpLaptop) {
  #bg__line01 {
    left: 20%;
    margin-left: -36px;
    top: 0;
  }

  #bg__line02 {
    margin-left: -300px;
    top: calc(-150px + 10vh);
    -webkit-transform: translateX(-70%);
    transform: translateX(-70%);
  }

  #bg__line04 {
    margin-top: -100px;
    left: 80%;
    top: 75%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  #bg__line05 {
    margin-left: 0;
    top: 83%;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

/* ==== CONTACT SECTION ==== */
.contact {
  padding: 1rem;
  justify-content: center;
}

.contact-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  --border: 3.5px;
  padding: 3rem;
  width: 100%;
  min-width: 250px;
  height: 100%;
  border-radius: v.$radius;
  /*border: 0.15em solid v.$clr-text;*/
  background: v.$clr-bg;

  &::before {
    position: absolute;
    content: "";
    top: calc(-1 * var(--border));
    left: calc(-1 * var(--border));
    z-index: -1;
    width: calc(100% + var(--border) * 2);
    height: calc(100% + var(--border) * 2);
    background: linear-gradient(
                    130deg,
                    v.$clr-primary-contrast,
                    #2C4A81 5%,
                    v.$clr-primary 15%,
                    #488fc7 25%,
                    v.$clr-primary 35%,
                    v.$clr-primary-contrast,
                    #274377,
                    #488fc7,
                    #274377
    );
    background-size: 300% 300%;
    border-radius: v.$radius * 1.2;
    animation: moveGradient 7s alternate infinite;
    @include m.shadow;
  }
}

@media screen and (min-width: v.$bpLaptop) {
  .contact-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
  }

}


/*---------------------------------------------*/
textarea, input {
  outline: none !important;
  border: none;
  cursor: text;

  &:focus {
    border-color: transparent !important;
  }
}

input.input {
  height: 45px;
  padding: 0 5%;
}

textarea.input {
  min-height: 115px;
  padding: 13px 5%;
}

#contact-form {
  padding-top: 1rem;

  .input-wrapper {
    //input fields shadow border
    width: 100%;
    position: relative;
    border-bottom: 2px solid v.$clr-scene;
    margin-bottom: 37px;
    border-radius: v.$radius;
  }

  textarea {
    resize: none;
  }

  .contact-form__input {
    //input fields bg
    background-color: v.$clr-third;
    border-radius: v.$radius;
  }

  span.form__required {
    color: v.$clr-primary;
    font-size: 1.2em;
    font-weight: bolder;
  }

  #contact-form__submit-message {
    color: v.$clr-primary;
    font-weight: normal;
    margin-bottom: 3vh;
    @include m.smoothTransition(.3s);
  }

  .input {
    display: block;
    width: 100%;
    font-size: clamp(0.125rem, 1rem + 1vw, 1rem);
    color: v.$clr-text;
    line-height: 1.2;

    & ~ label {
      left: 5%;
    }

    &:not(textarea) ~ label {
      top: 25%;
    }
  }

  .input-placeholder {
    color: v.$clr-secondary;
    position: absolute;
    top: 15px;
    left: 0;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    pointer-events: none;
  }

  //slide label up on focus or input
  input:focus ~ label,
  textarea:focus ~ label,
  input:valid ~ label,
  textarea:valid ~ label {
    font-size: 0.75em;
    color: v.$clr-secondary;
    top: -18px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  //sub line
  .input-border {
    position: absolute;
    left: 5%;
    bottom: -2px;
    width: 0;
    height: 2px;
    background: linear-gradient(
                    60deg,
                    v.$clr-primary,
                    #cb2949 60%
    );
    @include m.smoothTransition(.3s)
  }

  input:focus ~ .input-border,
  input:valid ~ .input-border,
  textarea:focus ~ .input-border,
  textarea:valid ~ .input-border {
    width: 90%;
  }

  .input-valid {
    width: 90%;
    background: linear-gradient(
                    60deg,
                    #50e28f,
                    #50e28f
    );
  }

  .contact-form__submit {
    margin-top: 0;
  }
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder {
  color: transparent;
}

textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

textarea:focus:-moz-placeholder {
  color: transparent;
}

textarea:focus::-moz-placeholder {
  color: transparent;
}

textarea:focus:-ms-input-placeholder {
  color: transparent;
}

input::-webkit-input-placeholder {
  color: #999999;
}

input:-moz-placeholder {
  color: #999999;
}

input::-moz-placeholder {
  color: #999999;
}

input:-ms-input-placeholder {
  color: #999999;
}

textarea::-webkit-input-placeholder {
  color: #999999;
}

textarea:-moz-placeholder {
  color: #999999;
}

textarea::-moz-placeholder {
  color: #999999;
}

textarea:-ms-input-placeholder {
  color: #999999;
}


/*------------------------------------------------------------------
[ Responsive ]*/
//TODO responsive form
/*@media (max-width: 576px) {
  .wrap-contact {
    padding: 72px 15px 90px 15px;
  }
}*/


/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: white;
  border: 1px solid v.$clr-primary;
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0;
  pointer-events: none;

  font-family: inherit;
  color: v.$clr-primary;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "X";
  font-family: inherit;
  display: block;
  position: absolute;
  color: v.$clr-primary;
  font-size: 16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 8px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}

