@use '../1-helpers/variables' as v;
@use '../1-helpers/mixins' as m;

/* Header */
header {
  /*position: absolute;
  bottom: 0;
  top: auto;*/
}
.sub-menu,
.dropdown-arrow {
  display: none;
}

.header {
  --header-h: 65px;
  width: 100%;
  position: fixed;
  bottom: 0;
  top: auto;
  left: 0;
  z-index: v.$z-fixed;
  background: v.$clr-bg;
  box-shadow: 0 -4px 9px rgba(0 0 0 /.4);
  transition: .3s ease-in-out;
  height: 10vh;
  max-height: var(--header-h);
  min-height: 60px;
  align-items: center;
}

.nav {
  margin: 0 !important;
  max-width: v.$bpLaptop;
  max-height: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  //overflow-x: hidden;
  overflow-x: hidden !important;
}

.nav__bar {
  position: static;
  /*max-height: 100%;*/
  padding: 1rem 5vw;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  /*bottom: 0;*/
}

#nav-desktop-toggle,
#nav-desktop-label {
  display: none;
}

.nav__logo {
  cursor: pointer;
  max-width: 140px;
  max-height: 100%;
  width: 22vw;
  #logo-header {
    min-width: 100px;
    width: 100%;
    max-width: 190px;
    height: 100%;
  }
}

.nav__btn {
  font-size: v.$icon-size;
  cursor: pointer;
}

#menu-list {
  max-height: 35vh;
  overflow-x: hidden;
  overflow-y: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}

#nav-grid {
  gap: 4vh !important;
  padding: 2vw 0;
}

.accessibility__toggle,
#dark-mode-toggle-header {
  background: transparent;
  border: none;
  color: v.$clr-text;
  font-weight: normal;
  font-size: v.$icon-size * 1.3;
  cursor: pointer;
  transition: color .3s;
  &:hover {
    color: v.$clr-primary;
  }
}

.service__items {
  max-width: 100%;
  padding: 0 2rem 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  * {
    padding: 0 20%;
  }
}


.nav__menu {
  /*backdrop-filter: contrast(65%) blur(50px);*/
  /*will-change: transform;*/
  max-height: 70vh;
  position: fixed;
  bottom: -250vh;
  left: 0;
  width: 100%;
  background: v.$clr-background;
  padding: 2rem 2.3rem  2.3rem;
  box-shadow: 0 -4px 9px rgba(0 0 0 /.3);
  border-radius: 1.5rem 1.5rem 0 0;
  transition: .3s cubic-bezier(0, 1.05, 0.42, 1.01);
}

.nav__list {
  grid-template-columns: repeat(3, 1fr);
  gap: 1vh !important;
  overflow-x: hidden;
  overflow-y: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}

.nav__link {
  font-size: clamp(10px, .9em + .3vh, 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  &:hover {
    color: v.$clr-primary;
  }
  padding: 0;
  margin: 0;
}

.nav__additions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem 0 5vh 0;
}

.legals {
  max-width: 500px;
  width: 90%;
  margin: 1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  a {
    padding: .3rem 5vw;
  }
}

.nav__title {
  margin: 3vh 0 1.5vh 0;
}

.nav__subtitle {
  margin-bottom: 9rem;
}

.nav__list-sub {
  display: none;
}

//ACCESSIBILITY
.accessibility__list {
  gap: 2rem;
}

.accessibility__settings {
  max-width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 1.5rem 0;
  &:last-child {
    margin-bottom: 6vh;
  }
}

#accessibility-settings {
  max-height: 100%;
  height: 60vh;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0 .5rem 0 0;
}

.acc_icon {
  margin-right: 1rem;
}

label.toggle {
  display: flex;
  margin-left: 1rem;
  margin-top: .5rem;
}

.nav__icon {
  font-size: v.$icon-size;
}

.nav__bottom {
  max-height: 100%;
  height: clamp(60px, 10vh, 65px);
  width: 5vw * 2.5;
  right: -1.3rem;
  max-width: 100%;
  backdrop-filter: blur(13px);
  -webkit-backdrop-filter: blur(13px);
  /*background: linear-gradient(110deg, rgba(63,87, 150, 0) 42%, rgba(20, 27, 43, 0.7) 84%, rgba(20, 27, 43, 1) 100%);*/
  position: absolute;
  bottom: 0;
  transform: translateX(-1.5rem);
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__close {
  position: absolute;
  //right: 4vw;
  //bottom: 3vh;
  font-size: v.$icon-size;
  cursor: pointer;
  color: v.$clr-primary;
  &:hover {
    color: v.$clr-text;
  }
}

.show__menu {
  bottom: 0;
}