@use '../1-helpers/variables' as v;

/* Header */
.header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: v.$z-fixed;
  background: v.$clr-background;
  box-shadow: 0 -4px 9px rgba(0 0 0 /.4);
  transition: .3s ease-in-out;
}

.nav {
  margin: 0 !important;
  max-width: v.$bp-laptop;
  max-height: v.$header-h;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.3vh 1.5rem;
}

.nav-mobile__toggle {
  font-weight: normal;
  font-size: v.$icon-size * 1.1;
  cursor: pointer;
  &:hover{
    color: v.$clr-primary;
  }
}

.nav__logo {
  cursor: pointer;
  max-width: 19vw;
  #logo-header {
    max-width: 10rem;
    min-width: 90px;
    width: 100%;
    height: 100%;
  }
}

button#accessibility-toggle,
button#dark-mode-toggle-header {
  padding: 0 10vw;
  background: transparent;
  border: none;
  color: v.$clr-text;
  font-weight: normal;
  font-size: v.$icon-size * 1.3;
  cursor: pointer;
  &:hover {
    color: v.$clr-primary;
  }
}

button#accessibility-toggle:active {
  color: v.$clr-primary;
}

.service__items {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 1rem;
}


.nav__menu {
  //TODO
  /*backdrop-filter: contrast(65%) blur(50px);*/
  max-height: 80vh;
  position: fixed;
  bottom: -250vh;
  left: 0;
  width: 100%;
  background: v.$clr-background;
  padding: 2rem 1.5rem 4rem;
  box-shadow: 0 -4px 9px rgba(0 0 0 /.3);
  border-radius: 1.5rem 1.5rem 0 0;
  transition: .3s;
}

.nav__list {
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  max-height: 60vh;
  overflow-x: hidden;
  overflow-y: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}

.nav__link {
  font-size: clamp(10px, .9em + .3vh, 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  &:hover {
    color: v.$clr-primary;
  }
}

.hidden {
  display: none !important;
}

.show {
  display: grid !important;
}

.nav__title {
  margin: 3vh 0 1.5vh 0;
}

.nav__subtitle {
  margin-bottom: 9rem;
}

.nav__sub {
  padding-bottom: 9rem;
}

//ACCESSIBILITY
.accessibility__list {
  gap: 2rem;
}

.accessibility__settings {
  //TODO
  border-bottom: red;
  border-width: 2px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-bottom: 1rem;
  &:last-child {
    padding-bottom: 5rem;
  }
}

#accessibility-settings {
  max-height: 70%;
  height: 70vh;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0 .5rem 4rem 0;
  /*&::-webkit-scrollbar {
    display: none;
  }*/
}

.acc_icon {
  margin-right: 1rem;
}

label.toggle {
  display: flex;
  margin-left: 1rem;
  margin-top: .5rem;
}

#cbx1.toggle {

}


.nav__icon {
  font-size: v.$icon-size;
}

.nav__bottom {
  height: 4.5rem;
  width: 100%;
  backdrop-filter: blur(15px) ;
  /*background: linear-gradient(110deg, rgba(63,87, 150, 0) 42%, rgba(20, 27, 43, 0.7) 84%, rgba(20, 27, 43, 1) 100%);*/
  position: absolute;
  bottom: 0;
  transform: translateX(-1.5rem);
}

.nav__close {
  position: absolute;
  right: 1.5rem;
  bottom: 1.5rem;
  font-size: v.$icon-size;
  cursor: pointer;
  color: v.$clr-primary;
  &:hover {
    color: v.$clr-text;
  }
}

.show__menu {
  bottom: 0;
}

.headerSticky {
  background-color: #141b2b;
  transition: background-color 0ms .4s, transform .4s;
  transform: translateY(0);
  box-shadow: 0 2px 4px rgba(20, 27, 43, 0.6);
}

.headerHidden {
  background-color: #141b2b;
  transform: translateY(-92px);
  transition: background-color 0ms .4s, transform .4s;
}