@use '../1-helpers/variables' as v;
@use '../1-helpers/mixins' as m;

/* MENU HAMBURGER BUTTON*/
.nav__hamLine {
  display:block;
  background: v.$clr-text;
  border-radius:5px;
  @include m.smoothTransition(.2s);
}

#nav-desktop-label {
  min-width:3rem;
  min-height:3rem;
  max-height: 100%;
  position:relative;
  cursor:pointer;
  background: transparent;
  border-radius:5px;
  /*&:hover {
    #hamburger span {
      color: v.$clr-primary;
      &:nth-child(1){
        width:55px;
      }
      &:nth-child(2){
        width:55px;
      }
      &:nth-child(3){
        width:55px;
      }
    }
  }*/
  #hamburger {
    position:absolute;
    height:100%;
    width:100%;
    span {
      height:3px;
      position:relative;
      top:2px;
      margin:9px 0;
      &:nth-child(1){
        transition-delay:.5s;
        width:37px;
        transform: translateX(8px);
      }
      &:nth-child(2){
        transition-delay:.625s;
        width:24px;
        transform: translateX(21px);
      }
      &:nth-child(3){
        transition-delay:.75s;
        width:30px;
        transform: translateX(15px);
      }
    }
  }
  #cross {
    position:absolute;
    height:100%;
    width:100%;
    transform:rotate(45deg);
    span{
      &:nth-child(1){
        height:0;
        width:3px;
        position:absolute;
        top: 5px;
        left:22px;
        transition-delay:0s;
      }
      &:nth-child(2){
        width:0;
        height:3px;
        position:absolute;
        left:5px;
        top:22px;
        transition-delay:.25s;
      }
    }
  }
}

#nav-desktop-label.open {
  /*background: v.$clr-primary;*/
  #hamburger {
    span {
      width:0;
      &:nth-child(1){
        transition-delay:0s;
      }
      &:nth-child(2){
        transition-delay:.125s;
      }
      &:nth-child(3){
        transition-delay:.25s;
      }
    }
  }
  #cross {
    span {
      &:nth-child(1){
        height:80%;
        transition-delay:.625s;
      }
    }
    span {
      &:nth-child(2){
        width:80%;
        transition-delay:.375s;
      }
    }
  }
}


@media screen and (min-width: v.$bpTablet),
screen and (max-height: 500px) and (min-width: v.$bpMobile){
  .header {
    backdrop-filter: brightness(80%) blur(10px);
    -webkit-backdrop-filter: brightness(80%) blur(10px);
    background: none;
    position: sticky;
    bottom: auto;
    /*top: 0;*/
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.40), 0 2px 10px 0 rgba(0, 0, 0, 0.10);
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: unset;
    transition: all .3s ease-in-out;
    /* OPTIONAL */
    border-radius: 20px;
    max-width: 90vw;
    margin: 0 5vw 0 5vw;
    top: clamp(15px, 5vh, 60px);
  }

  .headerHidden {
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    box-shadow: 0 0 0 rgba(0 0 0 /0);
    top: -80px;
    transition: all .3s ease-in-out;
  }

  .headerSticky {
    max-width: 100vw;
    margin: 0;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    transition: all .3s ease-in-out;
    top: 0;
    box-shadow: none;
  }

  .nav__menu-sticky {
    top: 0!important;
    border-radius: 0!important;
  }

  .nav__bottom,
  .nav-mobile__toggle,
  .nav__close,
  .nav__separator,
  .service__items {
    display: none;
  }

  .nav__logo {
    max-width: 10rem;
    z-index: v.$z-fixed;
  }

  #nav-desktop-toggle,
  #nav-desktop-label{
    will-change: auto;
    z-index: v.$z-fixed;
  }

  #nav-desktop-label{
    width: 20px;
    height: 15px;
    cursor: pointer;
    &:hover{
      color: v.$clr-primary;
    }
  }

  .nav__menu {
    position: absolute;
    bottom: auto;
    /*top: 0;*/
    max-height: 100vh;
    height: 100vh;
    box-shadow: 0 -4px 13px 0 rgba(0, 0, 0, 0.40), 0 2px 15px 0 rgba(0, 0, 0, 0.30);
    /*border-radius: 0;*/
    @include m.smoothTransition(.3s);
    transform: skewX(15deg) translateX(120vw);
    /* OPTIONAL */
    top: clamp(70px, 10vh, 85px);
    border-radius: 20px;
    overflow: hidden;
  }

  .menu__list {
    margin-top: 0;
    max-height: 100%;
    min-height: 80vh;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .menu__list-sticky {
    margin-top: 5vh;
    max-height: 100%;
    min-height: 90vh;
  }
  .nav__list {
    grid-template-columns: unset;
    display: flex;
    justify-content: center;
    gap: 1vh;
  }

  .nav__item{
    padding: 4vh 0;
  }

  .nav__link {
    flex-direction: row;
    padding: .4rem 1rem;
    margin: 0;
  }

  .nav__icon {
    padding-right: 1rem;
  }

  .legals {
    margin-bottom: 2rem;
  }

  .nav__bottom {
    all: unset;
  }

  .nav__close {
    right: 4vw;
    bottom: auto;
    top: 1rem;
  }

  .show__menu {
    transform: translateX(0);
  }

  #nav-desktop-toggle,
  #nav-desktop-label{
    @include m.flex;
  }

  .nav__additions {
    padding: 1rem 0 2vh 0;
  }
}
@media screen and (min-width: v.$bpLaptop) {
  .nav__menu-sticky {
    //margin-top: 5vh;
    max-height: 90vh;
    height: 90vh;
    padding: 3.5rem;
  }

  .nav__menu {
    max-height: 100vh;
    height: 100vh;
    box-shadow: 0 -4px 9px rgba(0 0 0 /.3);
    border-radius: 1.5rem 1.5rem 0 0;
    transition: .3s cubic-bezier(0, 1.05, 0.42, 1.01);
  }

  #menu-list{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    padding: 0;
    height: 100%;
    /*margin-top: 1vh;*/
  }
  #nav-grid{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-right: 10vw;
    margin-right: 5vw;
    gap: 0!important;
    /*margin-bottom: 1rem;*/
    &::-webkit-scrollbar {
      display: block;
      width: 4px!important;
    }
    overflow-y: scroll;
    margin-block-start: 0;
  }

  .nav__item:first-of-type{
    padding-top: 0;
  }

  #nav-separator{
    display: block;
  }
}
@media screen and (min-width: v.$bpWideS) {
  /*.header {
    position: sticky;
    !*background: transparent;*!
    !*box-shadow: none;*!
  }

  .nav {
    !*display: flex;*!
  }

  #nav-desktop-toggle,
  #nav-desktop-label{
    display: none;
  }

  .nav__menu {
    bottom: 0;
  }

  .nav__icon {
    display: none;
  }*/

}