// ********
// Banner
// ********
.banner {
  display: flex;
  justify-content: space-between;
  margin: 8px 12px;
  padding: 6px;
  translate: 0.25s ease-in-out;
}

#error {
  background-color: #FFDDDD;
  border-left: 6px solid #F44336;
}

#success {
  background-color: #DDFFDD;
  border-left: 6px solid #4CAF50;
  display: none;
}

#info {
  background-color: #E7F3FE;
  border-left: 6px solid #2196F3;
  display: none;
}

.banner-message div {
  padding: 4px 8px;
  display: none;
}

/* Banner close button */
.banner-close {
  cursor: pointer;
}

.banner-close div {
  width: 20px;
  height: 3px;
  border-radius: 1px;
  margin: 7px 0;
  background-color: #000;
  transition: 0.25s ease-in-out;
}

.banner-close:hover div {
  background-color: #777;
}

.banner-close1 {
  transform: translate(0px, 5px) rotate(-45deg);
}

.banner-close2 {
  transform: translate(0px, -5px) rotate(45deg);
}