@mixin fullImage{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;
}

@mixin flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin noOverflow{
  box-sizing: border-box;
  max-height:100%;
  max-width:100%;
}

@mixin transition{
  transition: (all 0.15s ease-out 0s);
}

@mixin stroke-anim{
  stroke-dasharray: 80;
  stroke-dashoffset: 80;
  animation: line-anim 5s infinite ease-in-out;
}