// *****************
// COLORS
// *****************
/*=== Color Theme ===*/
/*
Mint:       162
Orange:     19
Turquoise:  173
blue:       185
water:      201
purple:     252
redBlue:    346
red:        0
//
#CC3E3E  #A03038     #1f2025 linear-gradient(70deg, #18233C, #263f6e)
hsl(225,72,63)
*/

/* default style */
:root {
  --clr-primary: hsl(225, 63%, 66%);
  --clr-primary-contrast: rgba(227, 64, 101, 1);
  --clr-secondary: rgba(20, 27, 43, 0.8);
  --clr-third: rgba(128, 128, 128, 0.3);
  --clr-container: linear-gradient(20deg, var(--clr-primary) 0, var(--clr-text) 100%);
  --clr-scene: var(--clr-text);
  --clr-background: linear-gradient(70deg, #ffffff, #f1f9ff);
  --clr-bg: rgb(255, 255, 255);
  --clr-text: rgb(20, 27, 43);
  --clr-icon: #141B2B;
  --alpha: 0.8;
  --beta: 0.55;
  --gamma: 0.3;

  --bpMobile: 400px;
  --bpLandscape: 500px;
  --bpTablet: 850px;
  --bpLaptop: 968px;
  --bpDesktop: 1100px;
  --bpWideS: 1200px;

  --clr-slider: linear-gradient(75deg, rgba(255, 255, 255, 0.95) 35%, var(--clr-third));
  --pdd-side: clamp(4vw, calc(1.15em + 10vw), 40vw);
}

/* theme dark style */
.darkMode, .darkMode * {
  --clr-secondary: rgba(255, 255, 255, 0.4);
  --clr-third: rgba(156, 170, 255, 0.14);
  --clr-container: linear-gradient(55deg, var(--clr-primary), var(--clr-bg));
  --clr-slider: linear-gradient(40deg, var(--clr-scene) 25%, rgba(36, 51, 82, 0.8));
  --clr-scene: rgba(17, 23, 37, 1);
  --clr-background: linear-gradient(75deg, #141B2B, #243352);
  --clr-bg: rgb(36, 51, 82);
  --clr-text: rgb(255, 255, 255);
  --clr-icon: #383838;

}

$clr-text: var(--clr-text) !default;
$clr-icon: var(--clr-icon) !default;
$clr-primary: var(--clr-primary) !default;
$clr-primary-contrast: var(--clr-primary-contrast) !default;
$clr-secondary: var(--clr-secondary) !default;
$clr-third: var(--clr-third) !default;
$clr-container: var(--clr-container) !default;
$clr-scene: var(--clr-scene) !default;
$clr-background: var(--clr-background) !default;
$clr-bg: var(--clr-bg)!default;
$clr-alpha: var(--alpha) !default;
$clr-beta: var(--beta) !default;
$clr-gamma: var(--gamma) !default;


//**************
// BREAKPOINTS
//**************
/* Small devices (phones) */
$bpMobile: 400px;

/* Landscape devices (phones) */
$bpLandscape: 500px;

/* Medium devices (tablets) */
/*$bp-tablet: 768px;*/
$bpTablet: 850px;

/* Large devices (laptops) */
$bpLaptop: 968px;

/* Extra large devices (large desktops) */
$bpDesktop: 1100px;

/* Widescreen devices (wide desktops) */
$bpWideS: 1200px;


// *******
// FONTS
// *******
$ft-special: 'Raleway', sans-serif;
$ft-light: 'Raleway', sans-serif;
$ft-lighter: 'Raleway', sans-serif;
$ft-medium: 'Raleway', sans-serif;
$ft-bold: 'Raleway', sans-serif;
$ft-title: 'Rozha One', serif;
$ft-subtitle: 'Raleway', sans-serif;

/*
Helvetica
Poppins
Raleway
*/


// *********
// SCALING
// *********
:root {
  $scale-element: 1;
  $scale-font: 1;
}

@media (min-width: $bpLaptop){
  :root {
    $scale-element: 0.925;
    $scale-font: 0.925;
  }
}

/* heights */
$header-h: clamp(4vh, 20px + 9vh, 13vh); /*3rem*/

$radius: .7rem;
$radius-wide: 1.5rem;

$icon-size: 1.5em;
$mb-025: .25rem;
$mb-05: .5rem;
$mb-075: .75rem;
$mb-1: 1rem;
$mb-15: 1.5rem;
$mb-2: 2rem;
$mb-25: 2.5rem;
$mb-3: 3rem;

/* Z-indizes*/
$z-tooltip: 10;
$z-fixed: 100;
$z-modal: 1000;

/* Paddings & grid */
$pdd-side: var(--pdd-side);
$pdd-tb: 10vh;


// *********
// OTHERS
// *********
$fx-dropShadow: 0 12px 16px 0 rgba(0, 0, 0, .2), 0 17px 50px 0 rgba(0, 0, 0, .17);
