// *****************
// COLORS
// *****************
/*=== Color Theme ===*/
/*
Mint:       146
Orange:     19
Turquoise:  173
blue:       185
water:      201
purple:     252
redBlue:    346
red:        0
//
#CC3E3E  #A03038     #1f2025 linear-gradient(70deg, #18233C, #263f6e)
*/

/* default style */
:root {
  --clr-primary: hsl(19, 72%, 60%);
  --clr-secondary: #2C4A81;
  --clr-container: #eff2ff;
  --clr-scene: var(--clr-text);
  --clr-background: linear-gradient(70deg, #ffffff, #f1f9ff);
  --clr-bg: #ffffff;
  --clr-text: rgb(20, 27, 43);
  --clr-icon: #141B2B;
  --alpha: 0.8;
  --beta: 0.55;
  --gamma: 0.3;
}

/* theme dark style */
.darkMode {
  --clr-secondary: #fff;
  --clr-container: #283244;
  --clr-scene: #0c101a;
  --clr-background: linear-gradient(75deg, #141B2B, #243352);
  --clr-bg: #243352;
  --clr-text: rgb(255, 255, 255);
  --clr-icon: #383838;
}

$clr-text: var(--clr-text) !default;
$clr-icon: var(--clr-icon) !default;
$clr-primary: var(--clr-primary) !default;
$clr-secondary: var(--clr-secondary) !default;
$clr-container: var(--clr-container) !default;
$clr-scene: var(--clr-scene) !default;
$clr-background: var(--clr-background) !default;
$clr-bg: var(--clr-bg)!default;
$clr-alpha: var(--alpha) !default;
$clr-beta: var(--beta) !default;
$clr-gamma: var(--gamma) !default;

//**************
// BREAKPOINTS
//**************
/* Small devices (phones) */
$bp-mobile: 400px;

/* Medium devices (tablets) */
$bp-tablet: 768px;

/* Large devices (desktops) */
$bp-laptop: 950px;

/* Extra large devices (large desktops) */
$bp-desktop: 1200px;

/* Widescreen devices (wide desktops) */
$bp-wideS: 1440px;

// *******
// FONTS
// *******
$ft-special: 'Raleway', sans-serif;;
$ft-light: 'Raleway', sans-serif;;
$ft-lighter: 'Raleway', sans-serif;;
$ft-medium: 'Raleway', sans-serif;;
$ft-bold: 'Raleway', sans-serif;;
$ft-title: 'Abril Fatface', cursive;

/*
Helvetica
Poppins
Raleway
*/

// *********
// SCALING
// *********
:root {
  $scale-element: 1;
  $scale-font: 1;
}

@media (min-width: $bp-laptop){
  :root {
    $scale-element: 0.925;
    $scale-font: 0.925;
  }
}

/* Paddings & grid */
$pdd-side: clamp(4vw, calc(1.15em + 12vw), 40vw);

$radius: .7em;